<?xml version="1.0" encoding="utf-8"?>

<log4net>
    <appender name="DefaultFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="C:\Logs\Latsos_" />
        <appendToFile value="true" />
        <staticLogFileName value="false" />
        <rollingStyle value="Date" />
        <maximumFileSize value="3MB" />
        <datePattern value="yyyy-MM-dd.lo\g" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %d{yyyy-MM-dd hh:mm:ss} %message%newline" />
        </layout>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="DefaultFileAppender" />
    </root>
</log4net>